@import url('normalize.less');
@import url('variables.less');
@import url('mixins.less');
@import url('typography.less');
@import url('forms.less');
@import url('animate.less');

header {
	height: 60px;
	background-color: @primaryColor;
	box-shadow: 0 1px 1px 1px @flatGrey;
}

nav {
    ul {
        display: inline;
    }
}

figure figcaption {
        text-align: center;
}

figure img {
    display: block;
    width:100%;
    height:auto;
}

main, .wrapper {
    margin:auto;
    width:70%;
    .Responsive(@desktopSize,{
			width:94%;
    	});
}

.responsive-image {
    width:100%;
    height:auto;
    display: block;
}

.yourElement {
    height:50px;
    width:50px;
    background-color: @secondaryColor;
    color:white;
    line-height: 50px;
    text-align: center;
    &:hover,
    &:focus,
    &:active {
        #a.animated;           // initialize animation
        #a.iterate(infinite);  // repeat the animation forever
        #a.delay(7s);          // delay everything for 2 seconds
        #a.duration(3s);       // each iteration will play for 3 seconds
          .rubberBand;      // initialize the animation effect (notice the lack of #a prefix)
    }
}

@import url('tablet.less');
@import url('desktop.less');