@import url('normalize.less');
@import url('variables.less');
@import url('mixins.less');
@import url('typography.less');

//Welcome to Mobile First Development

/*
Areas can be made seperated with an arrow //> to indicate a repurpose of the
layout.
*/


figure figcaption {
        text-align: center;
}

figure img {
    display: block;
    width:100%;
    height:auto;
}

main {
    margin:auto;
    width:720px;
}



@import url('tablet.less');
@import url('desktop.less');