//-----Typography----->>

@serif: Georgia, Times, "Times New Roman", serif;
@sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;

html {
    font-size: 62.5%;
}

body {
    font-family: @sansSerif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: @sansSerif;
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 35px;
    line-height: 3.5rem;
}

h2 {
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 31px;
    line-height: 3.1rem;
}

h3 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
}

h4 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
}

h5 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
    text-transform: uppercase;
    font-weight: 300;
}

h6 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
    text-transform: lowercase;
    font-weight: 300;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

p {}

a {
    color:@primaryColor;
    text-decoration: none;
    border-bottom: 1px dotted #999;
    &:hover, &:focus {
        color: darken(@primaryColor, 20%);
        border-bottom: 1px solid @primaryColor;
    }
    &:active {
        color:@white;
        background:@primaryColor;
    }
}

::selection {
    background:@accentColor;
}

::-moz-selection {
    background:@accentColor;
}



.lead {
    font-weight: 100;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
}
