//-----Typography----->>

@serif: Georgia, 'Times New Roman', 'Times', serif;
@sansSerif: Frutiger, "Frutiger Linotype", 'Lato', Univers, "Helvetica Neue", Helvetica, Arial, sans-serif;

html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: @sansSerif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
    .Responsive(@tabletSize, {
            line-height: 21px;
            line-height: 2.1rem;
        });
}

h1,h2,h3,h4,h5,h6 {
    font-family: @sansSerif;
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 35px;
    line-height: 3.5rem;
    .Responsive(@tabletSize, {
            line-height: 33px;
            line-height: 3.3rem;
        });
}

h2 {
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 31px;
    line-height: 3.1rem;
    .Responsive(@tabletSize, {
            line-height: 29px;
            line-height: 2.9rem;
        });
}

h3 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
    .Responsive(@tabletSize, {
            line-height: 26px;
            line-height: 2.6rem;
        });
}

h4 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
    .Responsive(@tabletSize, {
            line-height: 23px;
            line-height: 2.3rem;
        });
}

h5 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
    .Responsive(@tabletSize, {
            line-height: 23px;
            line-height: 2.3rem;
        });
    text-transform: uppercase;
    font-weight: 300;
}

h6 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
    .Responsive(@tabletSize, {
            line-height: 23px;
            line-height: 2.3rem;
        });
    text-transform: lowercase;
    font-weight: 300;
}

hr {
    border: 0;
    height: 1px;
    background: @mutedColor;
    background-image: linear-gradient(to right, @flatGrey, @mutedColor, @flatGrey);
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid @flatGrey;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-family: @serif;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: @flatGrey;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

p {
    margin-bottom: 1em;
}

a {
    color:@primaryColor;
    text-decoration: none;
    border-bottom: 1px dotted #999;
    &:hover, &:focus {
        color: darken(@primaryColor, 20%);
        border-bottom: 1px solid @primaryColor;
    }
    &:active {
        color:@white;
        background:@primaryColor;
    }
}

dt, dd {
    display: inline;
}

dd {
    margin: 0;
    font-weight: bold;
}

dd::after {
    content: "\A";
    white-space: pre;
}

dd + dt::before {
    content: "\A";
    white-space: pre;
}

dd + dd::before {
    content: ', ';
    font-weight: normal;
}

dd + dd::before {
    content: ', ';
    margin-left: -.25em;
    font-weight: normal;
}

.wrapper {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        line-height: 60px;
        width: calc(~"100% / 4");
        a {
            color:@white;
            &:hover, &:focus {
                border-bottom: 1px solid @white;
            }
            &:active {
                color:@white;
                background:@primaryColor;
            }
        }
    }
}

::selection {
    background:@accentColor;
}

::-moz-selection {
    background:@accentColor;
}

.lead {
    font-weight: 100;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
