//-----Typography----->>

@serif: Georgia, Times, "Times New Roman", serif;
@sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;

html {
    font-size: 62.5%;
}

body {
    font-family: @sansSerif;
    background-color: #aeaeae;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: @sansSerif;
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 35px;
    line-height: 3.5rem;
}

h2 {
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 31px;
    line-height: 3.1rem;
}

h3 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
}

h4 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
}

h5 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

h6 {
     font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
    text-transform: lowercase;
    font-weight: 300;
}

.lead {
    font-weight: 100;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
}
